In [71]:
#Importing Pandas
#Importing Sqlalchemy
import pandas as pd
import sqlalchemy as sq
from sqlalchemy import create_engine

### Store CSV into DataFrame

In [72]:
#Linking CSV file and pulling in the raw data
csv_file = "../Resources/AKC.csv"
AKC_df = pd.read_csv(csv_file)
AKC_df.head()

,Breed,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs
0,Akita,26,28,80,120
1,Anatolian Sheepdog,27,29,100,150
2,Bernese Mountain Dog,23,27,85,110
3,Rottweiler,22,27,90,110
4,Saint Bernard,25,28,110,190

### Clean DataFrame

In [73]:
# Cleaning raw data, and pulling in the needed columns
New_AKC_df = AKC_df[['Breed', 'height_low_inches', 'height_high_inches']].copy()
New_AKC_df.head()

                  Breed height_low_inches height_high_inches
0                 Akita                26                 28
1    Anatolian Sheepdog                27                 29
2  Bernese Mountain Dog                23                 27
3            Rottweiler                22                 27
4         Saint Bernard                25                 28

### Connect to local database

In [74]:
# Run in terminal "conda install psycopg2"
# Creating engine for the connection..
from sqlalchemy import create_engine

In [75]:
# Using rds_connection_string to connect to PgAdmin,(password & localhost address)
rds_connection_string = "postgres:889brown@localhost:5432/DogBreeds_db"
engine = sq.create_engine(f"postgresql://{rds_connection_string}")

In [76]:
# import dialects
import sqlalchemy.dialects

### Check for tables

In [77]:
# Creating Table name..
engine.table_names()

['Breed']

### Use pandas to load csv converted DataFrame into database

In [78]:
# Loading csv data into database.
New_AKC_df.to_sql(name='Breed', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

In [80]:
# Querying data into Table
pd.read_sql_query('select * from "Breed"', con=engine).head()

                  Breed height_low_inches height_high_inches
0                 Akita                26                 28
1    Anatolian Sheepdog                27                 29
2  Bernese Mountain Dog                23                 27
3            Rottweiler                22                 27
4         Saint Bernard                25                 28