In [14]:
import pandas as pd
from sqlalchemy import create_engine

Bring in csv and create dataframe

In [39]:
intelligence= "dog_intelligence.csv"
Intelligence_df = pd.read_csv(intelligence)
Intelligence_df.head()

               Breed  Classification obey  reps_lower  reps_upper
0      Border Collie  Brightest Dogs  95%           1           4
1             Poodle  Brightest Dogs  95%           1           4
2    German Shepherd  Brightest Dogs  95%           1           4
3   Golden Retriever  Brightest Dogs  95%           1           4
4  Doberman Pinscher  Brightest Dogs  95%           1           4

In [52]:
New_intelligence_df = Intelligence_df[["Breed", "Classification", "obey"]].copy()
New_intelligence_df.dtypes

Breed             object
Classification    object
obey              object
dtype: object

Clean up column names

In [132]:
new_intelligence_df = New_intelligence_df.rename(columns={"obey":"Obedience"})
#new_intelligence_df.set_index("Breed", inplace = True)
new_intelligence_df.head()

               Breed  Classification Obedience
0      Border Collie  Brightest Dogs       95%
1             Poodle  Brightest Dogs       95%
2    German Shepherd  Brightest Dogs       95%
3   Golden Retriever  Brightest Dogs       95%
4  Doberman Pinscher  Brightest Dogs       95%

Create Connection String to Database

In [103]:
rds_connection_string = "postgres:Biohack1234!@localhost:5432/Intelligence_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [139]:
engine.table_names()

['Intelligence']

Append pgAdmin database with data from intellence dataframe

In [138]:
new_intelligence_df.to_sql(name='Intelligence', con=engine, if_exists='append', index=True)

Check that the data made it into the database

In [143]:
pd.read_sql_query('select * from "Intelligence"', con=engine).head()

   index              Breed  Classification Obedience
0    0.0      Border Collie  Brightest Dogs       95%
1    1.0             Poodle  Brightest Dogs       95%
2    2.0    German Shepherd  Brightest Dogs       95%
3    3.0   Golden Retriever  Brightest Dogs       95%
4    4.0  Doberman Pinscher  Brightest Dogs       95%