In [2]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine

### Store CSV into DataFrame

In [3]:
csv_file = "2017.csv"
dog_df = pd.read_csv(csv_file)
dog_df.head()

,LicenseType,Breed,Color,DogName,OwnerZip,ExpYear,ValidDate
0,Dog Individual Spayed Female,BICHON FRISE,WHITE,CHLOE,15090,2017,12/15/2016 9:58
1,Dog Senior Citizen or Disability Spayed Female,CHIHUAHUA,WHITE/BLACK/BROWN,CHALUPA,15120,2017,3/23/2017 14:32
2,Dog Individual Spayed Female,LAB MIX,YELLOW,MIA,15133,2017,2/28/2017 10:59
3,Dog Individual Male,DACHSHUND,BLACK/BROWN/GREY,CODY,15108,2017,2/9/2017 13:40
4,Dog Individual Spayed Female,DACHSHUND,BLACK,SOPHIE,15108,2017,2/9/2017 13:40

### Create new data with select columns

In [4]:
new_dog_df = dog_df[['Breed', 'Color', 'DogName']].copy()
new_dog_df.head()

          Breed              Color  DogName
0  BICHON FRISE              WHITE    CHLOE
1     CHIHUAHUA  WHITE/BLACK/BROWN  CHALUPA
2       LAB MIX             YELLOW      MIA
3     DACHSHUND   BLACK/BROWN/GREY     CODY
4     DACHSHUND              BLACK   SOPHIE

### Transform Dog DataFrame

In [5]:
# Rename the column headers
new_dog_df = new_dog_df.rename(columns={"Breed": "dog_breed",
                                                         "Color": "dog_color",
                                                         "DogName": "dog_name"})

new_dog_df.head()

      dog_breed          dog_color dog_name
0  BICHON FRISE              WHITE    CHLOE
1     CHIHUAHUA  WHITE/BLACK/BROWN  CHALUPA
2       LAB MIX             YELLOW      MIA
3     DACHSHUND   BLACK/BROWN/GREY     CODY
4     DACHSHUND              BLACK   SOPHIE

### Create database connection

In [6]:
connection_string = "postgres:postgres@localhost:5432/DogDB"
engine = create_engine(f'postgresql://{connection_string}')

In [7]:
# Confirm tables
engine.table_names()

[]

### Load DataFrames into database

In [8]:
new_dog_df.to_sql(name='dog_2017', con=engine, if_exists='append', index=True)

### Confirm data has been added by querying the data tables

In [9]:
pd.read_sql_query('select * from dog_2017', con=engine).head()

   index     dog_breed          dog_color dog_name
0      0  BICHON FRISE              WHITE    CHLOE
1      1     CHIHUAHUA  WHITE/BLACK/BROWN  CHALUPA
2      2       LAB MIX             YELLOW      MIA
3      3     DACHSHUND   BLACK/BROWN/GREY     CODY
4      4     DACHSHUND              BLACK   SOPHIE